/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h2,
h3 {
  font-size: 1.2em;
}

h3 {
  font-weight: lighter;
}

/* Link Styles */
a {
  text-decoration: none;
}

/* Section Styles */
.container {
  width: 90%;
  margin: 0 auto;
}

.main-header,
.bio {
  background: #f7f5f0;
  text-align: center;
}

/* Main Header */
.title {
  font-size: 2.4em;
  font-weight: bolder;
  margin: 0;
  padding: .4em 0;
}

.main-nav a {
  color: black;
  background-color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  padding: 10px 15px;
  margin-top: 5px;
}

.main-nav a:hover {
  color: darkgrey;
}
