/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h2,
h3 {
  font-size: 1.2em;
}

h3 {
  font-weight: lighter;
}

/* Link Styles */
a {
  text-decoration: none;
}

/* Section Styles */
.container {
  width: 90%;
  margin: 0 auto;
}

.main-header,
.bio {
  background: #f7f5f0;
  text-align: center;
  margin: 0;
  padding-top: .5em;
  padding-bottom: 3em;
}

/* Main Header */
.title {
  font-size: 2.4em;
  font-weight: bolder;
  margin: 0;
  padding: .4em 0;
}

.main-nav a {
  color: black;
  background-color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  padding: 10px 15px;
  margin-top: 5px;
}

.main-nav a:hover {
  color: darkgrey;
}

/* Bio */
.bio-img {
  margin-top: 7px;
  margin-bottom: 1em;
  max-width: 70%;
}

.bio-text {
  font-size: 1.2em;
  color: #808080;
}

/* Portfolio */
.portfolio {
  padding-top: 2em;
  padding-bottom: 2em;
}
.portfolio-img {
  max-width: 100%;
}

.container figure {
  padding-bottom: 3em;
}

/* Contact */
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #f7f5f0;
}

.footer-name {
  display: block;
  float: left;
}

.footer-top {
  display: block;
  float: right;
}

.contact {
  font-size: 1.2em;
  color: #808080;
}